<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>AFD</title>
    <!-- BOOSTRAP 4 -->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  </head>
  <body>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card card-body">
          <form action="/updateuser/{{user.id}}" method="POST">
            <div class="form-group">
              <input type="text" name="name" value="{{user.name}}" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="surname" value="{{user.surname}}" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="lastname" value="{{user.lastname}}" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="password" value="{{user.password}}" class="form-control">
            </div>
            <div class="from-group">
              <select id="active" name="active" class="form-control">
                {% if '1' in user.active %}
                <option selected="selected" value="1">Activo</option>
                <option value="0">No activo</option>
                {% endif %}

                {% if '0' in user.active %}
                <option value="1">Activo</option>
                <option selected="selected" value="0">No activo</option>
                {% endif %}
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" style="margin-top: 10%;">
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

