<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>AFD</title>
    <!-- BOOSTRAP 4 -->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  </head>
  <body>
    <div class="row">
      <div class="col-md-4 offset-md-2 d-inline mt-4">
        <div class="card card-body">
          <form action="/updatedevice/{{device.id}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <input type="text" name="name" value="{{device.name}}" class="form-control">
            </div>
            <div class="form-group">
              <select id="state" name="state" class="form-control">
                {% if '1' in device.state %}
                <option selected="selected" value="1">Abierto</option>
                <option value="0">Cerrado</option>
                {% endif %}

                {% if '0' in device.state %}
                <option value="1">Abierto</option>
                <option selected="selected" value="0">Cerrado</option>
                {% endif %}
              </select>
            </div>
            <div class="form-group">
              <select id="maintenance" name="maintenance" class="form-control">
                {% if '1' in device.maintenance %}
                <option selected="selected" value="1">En mantenimiento</option>
                <option value="0">Funcional</option>
                {% endif %}

                {% if '0' in device.maintenance %}
                <option value="1">En mantenimiento</option>
                <option selected="selected" value="0">Funcional</option>
                {% endif %}
              </select>
            </div>
            <div class="form-group">
              <input type="text" name="pin_led" value="{{device.pin_led}}" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="pin_button" value="{{device.pin_button}}" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="pin_servo" value="{{device.pin_servo}}" class="form-control">
            </div>
            <div class="form-group">
              <label>New Image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="uploadImage" id="uploadImage">
                <label class="custom-file-label" for="uploadImage">Select image...</label>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" style="margin-top: 10%;">
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-0 d-inline mt-4 ml-4">
        <img src="" id="img" alt="DeviceImage">
        <script>
            data = "{{image}}"
            data = data.replace("b&#39;", "") //to get rid of start curly brace code
            data = data.replace("&#39;", "")  //to get rid of end curly bracecode

            document.getElementById("img").src = "data:image/png;base64,"+data; // set src
        </script>
      </div>
    </div>



  </body>
</html>
